/* Overall page container */
.signup-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding: 1.5rem;
    background-color: white;
    overflow-y: auto;
  }
  
  @media (min-width: 1024px) {
    .signup-container {
      flex-direction: row; /* Change to row layout on large screens */
      padding: 2.5rem;
    }
  }
  
  /* Left Section: Form */
  .form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
    margin-left: 2rem;
    justify-content: center;
  }
  
  .form-header {
    text-align: center;
    margin-top: 2rem;
  }
  
  .form-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-size: 0.875rem;
    color: #333;
  }
  
  .form-group input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 0.5rem;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #4f46e5;
  }
  
  .submit-button {
    background-color: #4f46e5;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #4338ca;
  }
  
  .login-link {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  
  .login-link p {
    font-size: 0.875rem;
  }
  
  .login-link-text {
    font-size: 0.875rem;
    margin-left: 0.5rem;
    text-decoration: underline;
  }
  
  .separator {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .separator-line {
    flex-grow: 1;
    border-top: 1px solid #ccc;
  }
  
  .separator span {
    margin: 0 1rem;
    color: #999;
  }
  
  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #4a4a4a;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .social-button:hover {
    background-color: #e2e8f0;
  }
  
  .social-icon {
    margin-right: 0.5rem;
  }
  
  /* Right Section: Image */
  .image-container {
    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: -9rem;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 550px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 1024px) {
    .image-container {
      display: flex;
    }
  }
  